
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VoteQuote</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Welcome to VoteQuote!</h1>  
    </main>
    <script src="index.js"></script>
    <p>Choose a quote to vote on!</p>
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'quotes:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No quotes are available.</p>
    {% endif %}
    <form id="logout-form" method="post" action="/logout/">
        <input type="hidden" name="csrfmiddlewaretoken" value="QNTqISYnYYJATO4KtEzj6WpRnYSbfnTqhWjDNf3C7S9ZIgpxHzyoiAdMEbxeZFin">
        <button type="submit">Log out</button>
    </form>
    <!-- remove link to admin page and text that provides login information-->
    <a href="admin">Admin</a>
    <p style="color:white;">For developers: username: admin, password: cybersec1</p>
  </body>
</html>